video.localVideo {
  position: fixed;
  z-index: 1001;
  right: 232px;
  bottom: 16px;
  width: 200px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.3s;
  opacity: 1;
  visibility: hidden;
  transform-origin: bottom right;
}
video.remoteVideo {
  position: fixed;
  z-index: 1001;
  right: 16px;
  bottom: 16px;
  width: 200px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  opacity: 1;
  visibility: hidden;
  transform-origin: bottom right;
}

#web-rtc-support-call-button {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 16px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
  right: 16px;
  cursor: pointer;
  background-color: cornflowerblue;
  border: none;
  outline: none;
  border-radius: 50%;
}
.hold-button-active {
  bottom: 200px !important;
}
.webrtc-button-active {
  bottom: 200px !important;
}
#web-rtc-support-call-button:active {
  transform: scale(0.9);
}
#info-layer {
  position: fixed;
  z-index: 10000;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  text-align: center;
  padding-top: 50%;
  color: white;
  display: none;
}
.chat-flex {
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: white;
  bottom: 300px;
  right: 16px;
}
.chat-messages {
  flex-grow: 4;
  padding: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#chat-input {
  outline: none;
  border: none;
  width: 130px;
}
.input-wrapper {
  padding: 8px;
  display: flex;
  flex-direction: row;
}

.chat-message {
  padding: 8px;
  border-radius: 5px;
  max-width: 150px;
  word-break: break-all;
  margin-bottom: 8px;
}
.customer {
  align-self: flex-end;
  background-color: lightgray;
}
.agent {
  align-self: flex-start;
  background-color: cornflowerblue;
  color: white;
}

#hold {
  display: none;
  padding: 16px;
  background-color: cornflowerblue;
  border: none;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 62px;
  outline: none;
  position: fixed;
  bottom: 16px;
  right: 90px;
}
#hold-image {
  width: 30px;
  height: 30px;
}

#hold:active {
  transform: scale(0.9);
}
.hse24-webrtc-button-image {
  width: 39px;
  height: 34px;
}
